.header {
  background-image: linear-gradient(0.87deg, rgba(2, 55, 135, 0.9) 0.69%, rgba(81, 38, 174, 0.4736) 100.48%, rgba(38, 92, 174, 0.0102906) 100.49%, rgba(195, 195, 196, 0.00520833) 100.5%, #76A6EF 100.51%), url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 865px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
}

.nav-item {
  text-decoration: none;
  margin-right: 42px;
  color: white;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  transition: all ease-in 0.3s;
}

.nav-item:hover {
  color: #FFC839;
}

.promo-text {
  max-width: 821px;
  margin-top: 217px;
}

h1 {
  color: white;
  font-size: 60px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
}

h2 {
  color: white;
  font-size: 29px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
}

.interior-box {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}

.interior-bar {
  max-width: 399px;
}

.interior-content {
  text-decoration: none;
  transition: all ease-in 0.2s;
}

.interior-content:hover {
  transform: scale(1.05);
}

.interior-item {
  width: 399px;
  height: 414px;
}

.interior-text {
  color: black;
  font-size: 14px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
  padding: 55px 3px 55px 120px;
  margin: 0;
  background-color: white;
  position: relative;
  box-shadow: 0px 20px 59px -14px rgba(171, 124, 0, 0.29);
}

.interior-text::after {
  content: url(../images/arrow.png);
  position: absolute;
  top: 47px;
  left: 50px;
}

.interior-center-text {
  color: black;
  font-size: 14px;
  font-family: Nunito;
  font-weight: 700;
  word-wrap: break-word;
  padding: 55px 0px 55px 94px;
  margin: 0;
  border: 0px solid white;
  background-color: white;
  position: relative;
  box-shadow: 0px 20px 59px -14px rgba(171, 124, 0, 0.29);
}

.interior-center-text::after {
  content: url(../images/arrow.png);
  position: absolute;
  top: 47px;
  left: 25px;
}

.ad-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
}

.ad-item {
  display: flex;
  margin-top: 55px;
}

h3 {
  color: #323232;
  font-size: 36px;
  font-family: Nunito;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 95px;
}

.ad-text {
  color: #4A4A4A;
  font-size: 29px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
  margin-left: 29px;
}

span {
  color: #4A4A4A;
  font-size: 21px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
}

.ad-image-box {
  margin-top: 36px;
  position: relative;
}

.ad-image-box::after {
  content: url(../images/bg-item.png);
  position: absolute;
  bottom: 64px;
  right: 22px;
  z-index: -1;
}

.book-box {
  text-align: center;
  border: 0px;
  background-color: #FFF5DA;
  padding-bottom: 104px;
  margin-bottom: 122px;
}

.book-text {
  color: #323232;
  font-size: 36px;
  font-family: Nunito;
  font-weight: 600;
  word-wrap: break-word;
  padding-top: 127px;
  margin-bottom: 6px;
}

.book-discription {
  color: #646464;
  font-size: 29px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
}

.phone-box {
  width: 700px;
  height: 78px;
  text-align: center;
  background: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-bar {
  border: none;
  background: none;
  font-size: 37px;
  color: #646464;
}

.flag {
  margin-left: 24px;
}

button {
  color: black;
  font-size: 29px;
  font-family: Nunito;
  font-weight: 400;
  word-wrap: break-word;
  padding: 10px 40px;
  margin-right: 24px;
  background-color: #FFC839;
  border: none;
  cursor: pointer;
}

.collage-box {
  margin-bottom: 128px;
}

.collage-text {
  color: #323232;
  font-size: 36px;
  font-family: Nunito;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 54px;
}

.collage-image {
  margin: 0px 18px 21px 0px;
}

.collage-image:nth-child(4n) {
  margin: 0px 0px 21px 0px;
}

.footer {
  background: #093A7A;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  border-bottom: rgba(255, 255, 255, 0.16) 1px solid;
  padding-bottom: 24px;
  margin-bottom: 34px;
}

.footer-nav-items {
  color: #CACACA;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
  transition: all ease-in 0.3s;
}

.footer-nav-items:hover {
  color: #FFC839;
}

.branch-label {
  color: white;
  font-size: 24px;
  font-family: Nunito;
  font-weight: 600;
  word-wrap: break-word;
  text-decoration: none;
  transition: all ease-in 0.3s;
}

.branch-label:hover {
  color: #FFC839;
}

.branch {
  margin-top: 34px;
}

.branch-items {
  margin-top: 37px;
}

.branch-country {
  color: #E5E5E5;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
  transition: all ease-in 0.3s;
}

.branch-country:hover {
  color: #FFC839;
}

.branch-cities {
  display: flex;
  margin-top: 17px;
}

.branch-cities-item {
  color: #CACACA;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
  margin-right: 35px;
  transition: all ease-in 0.3s;
}

.branch-cities-item:hover {
  color: #FFC839;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  border-top: rgba(255, 255, 255, 0.16) 1px solid;
  margin-top: 40px;
  padding-bottom: 175px;
}

.footer-info-text {
  color: #CACACA;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .interior-box {
    flex-direction: column;
    align-items: center;
  }
  .promo-text {
    text-align: center;
    max-width: none;
  }
  .nav-box {
    justify-content: space-evenly;
  }
  .ad-box {
    flex-direction: column;
    align-items: center;
  }
  .collage-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .collage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .collage-image {
    margin: 20px;
  }
  .collage-image:nth-child(4n) {
    margin: 20px;
  }
  .footer-nav {
    margin-left: 20px;
    margin-right: 20px;
  }
  .branch {
    margin-left: 20px;
    margin-right: 20px;
  }
  .branch-label {
    margin-left: 20px;
  }
  .footer-info {
    margin-right: 20px;
    margin-left: 20px;
  }
  .interior-text {
    margin-bottom: 20px;
  }
  .interior-center-text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 930px) {
  .branch {
    display: flex;
  }
  .branch-cities {
    display: flex;
    flex-direction: column;
  }
  .footer-info {
    flex-direction: column;
  }
  .nav-bar {
    padding-right: 5px;
  }
  .nav-item {
    padding-right: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 710px) {
  .nav-box {
    flex-direction: column;
    align-items: center;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    padding: 20px 0 20px 0;
  }
  h3 {
    text-align: center;
  }
  .ad-item {
    flex-direction: column;
    align-items: center;
  }
  .ad-text {
    text-align: center;
  }
  .collage {
    flex-direction: column;
  }
  .phone-box {
    flex-direction: column;
    width: 500px;
    height: 200px;
  }
  button {
    margin: 0 0 10px 0;
  }
  .flag {
    margin: 10px 0 0 0;
  }
  .phone-bar {
    font-size: 35px;
  }
  .promo-text {
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 580px) {
  img.ad-image {
    width: 260px;
  }
  .footer-nav-items {
    margin: 0 15px 15px 0;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .branch {
    flex-wrap: wrap;
  }
  .phone-box {
    width: 300px;
  }
  .phone-bar {
    font-size: 23px;
  }
  .interior-bar {
    max-width: 300px;
  }
  .interior-item {
    width: 300px;
    height: 350px;
  }
  .interior-text {
    padding: 55px 50px 55px 73px;
  }
  .interior-text::after {
    left: 19px;
  }
  .collage-image {
    margin: 0 0 20px 0;
  }
  .collage-image:nth-child(4n) {
    margin: 0 0 20px 0;
  }
  .ad-image-box::after {
    content: url(../images/bg-item-small-version.png);
    right: 17px;
    bottom: 30px;
  }
  .promo-text {
    padding-bottom: 150px;
  }
}